.App {
  text-align: center;
}

/* sajad */
/* Headline 5 class */
h5 {
  /* Manrope / Headline 5 */
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  /* line-height: 132%; */
  /* identical to box height, or 32px */
  text-align: center;
  color: #414141;
  margin: unset !important;
}



body1 {
  /* Manrope / Body 1 */
  /* font-family: 'Manrope'; */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  /* line-height: 150%; */
  /* identical to box height, or 24px */
  text-align: center;
  letter-spacing: 0.0168em;
  font-feature-settings: 'tnum' on, 'lnum' on;
  /* Grey / 06 */
  color: #414141;
}


body2 {
  /* Manrope / Body 2 */
  /* font-family: 'Manrope'; */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  /* line-height: 150%; */
  /* identical to box height, or 24px */
  text-align: center;
  letter-spacing: 0.0168em;
  font-feature-settings: 'tnum' on, 'lnum' on;
  /* Grey / 04 */
  color: #818181;
  
}